<h3>Enter your Office 365 admin credentials to view Azure login datae</h3>
<p>
<form action="/Home/ProcessLogin" method="post">
    <input type="text" name="login" />
    <input type="password" name="password" />
    <input type="submit" value="Submit" />
</form>
</p>